{% block footer %}
  <div class="container-fluid bg-dark p-0 m-0">
    <footer class="footer p-0 m-0">
      <div class="container py-4 pt-3 pb-2 px-4">
        <div id="custom-footer-blocos" class="row">
          <div id="custom-footer-bl1" class="col-lg-3 col-xs-12 pb-3">
            <img style="filter: grayscale(90%);" class="img-fluid custom-img-logo" src="/themes/custom/dogbreed_theme/images/devoteam_logo.png" alt="Logo grayscale"/>
          </div>

          <div id="custom-footer-bl2" class="col-lg-6 col-xs-12">
            <h6 style="color: white;" class="text-align-center pt-3">Developed by Henrique for the Devoteam challenge</h6>
            <ul id="custom-mini-menu-footer" class="list-inline d-flex justify-content-center align-items-center mt-2">
              <li class="list-inline-item pr-2"><a class="text-decoration-none" href="https://github.com/HenriqueBatistaLiduario/dogbreed" target="_blank">Github</a>
              <li class="list-inline-item"><a class="text-decoration-none" href="https://www.linkedin.com/in/henriqueliduario/" target="_blank">Linkedin</a></li>
              <li class="list-inline-item"><a class="text-decoration-none" href="https://wa.me/5531990752701" target="_blank">WhatsApp</a></li>
            </ul>
          </div>

          <div id="custom-footer-bl3" class="col-lg-3 col-xs-12 d-flex justify-content-center align-items-center">
            <a href="https://dog.ceo/dog-api/" target="_blank">
              <img width="83" height="85" class="img-fluid" src="/themes/custom/dogbreed_theme/images/dogapi_white.svg" alt="Logo Dog API white"/>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </div>
{% endblock %}
