{% block head %}
<nav id="custom-navbar" class="navbar navbar-expand-lg navbar-light px-3 py-1">
  <div class="container-fluid pb-1" style="border-bottom:1px solid #DEDEDE;">
    <a class="navbar-brand" href="{{ url('<front>') }}">
      <img id="custom-img-logo-desktop" class="img-fluid custom-img-logo" src="/themes/custom/dogbreed_theme/images/devoteam_logo.png"/>
    </a>
  </div>
</nav>
{% endblock %}
