<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Devoteam Case | Henrique</title>
    <meta property="og:type"        content="website">
    <meta property="og:title"       content="Devoteam Case | Henrique">
    <meta property="og:description" content="Custom frontend for devoteam's challenge">
    <meta property="og:image"       content="/themes/custom/dogbreed_theme/screenshot.png">
    <meta property="og:image:type"  content="image/png">
    <meta property="og:url"         content="http://devoteam-case.lndo.site">

    <link rel="icon" type="image/png" href="/themes/custom/dogbreed_theme/images/favicon.png" />
    <link rel="stylesheet" id="stylesheet" type="text/css" href="/themes/custom/dogbreed_theme/css/style.css"/>

    <head-placeholder token="{{ placeholder_token|raw }}">
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">

  </head>

  <body class="mx-auto">
    {{ page }}
  </body>

</html>
